{{define "cp_core_settings"}}

{{template "cp_head" .}}
<header class="page-header">
    <h2>Núcleo</h2>
</header>


{{template "cp_alerts" .}}

<div class="row">
    <div class="col-lg-12">
        <form method="post" action="/manage/{{.ActiveGuild.ID}}/core" data-async-form>
            <div class="card card-featured card-featured-info">
                <header class="card-header">
                    <h2 class="card-title">Acceso al panel de control</h2>
                </header>
                <div class="card-body">
                    <div class="form-group">
                        <label>Otorgar permiso de <code>lectura</code> a miembros con los siguientes roles</label><br>
                        <select class="multiselect" name="AllowedReadOnlyRoles" data-plugin-multiselect
                            multiple="multiple">
                            {{roleOptionsMulti .ActiveGuild.Roles nil .CoreConfig.AllowedReadOnlyRoles}}
                        </select>
                        <p class="help-block">Los miembros con el permiso <code>Gestionar servidor</code> siempre podrán acceder al panel con permisos de <code>lectura</code></p>
                    </div>

                    {{checkbox "AllowAllMembersReadOnly" "AllowAllMembersReadOnly" "Otorgar permiso de lectura a todo el servidor" .CoreConfig.AllowAllMembersReadOnly}}
                    {{checkbox "AllowNonMembersReadOnly" "AllowNonMembersReadOnly" "Otorgar permiso de lectura a todo el mundo, incluyendo usuarios que no han iniciado sesión" .CoreConfig.AllowNonMembersReadOnly}}

                    <hr />

                    <div class="form-group">
                        <label>Otorgar permiso de <code>escritura</code> a miembros con los siguientes roles</label><br>
                        <select class="multiselect" name="AllowedWriteRoles" data-plugin-multiselect
                            multiple="multiple">
                            {{roleOptionsMulti .ActiveGuild.Roles nil .CoreConfig.AllowedWriteRoles}}
                        </select>
                        <p class="help-block">Los miembros con el permiso <code>Gestionar servidor</code> siempre podrán acceder al panel con permisos de <code>escritura</code></p>
                    </div>

                    <hr />

                    <button type="submit" class="btn btn-success btn-lg btn-block">Guardar</button>
                </div>
            </div>
            <!-- /.panel -->
        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{{template "cp_footer" .}}

{{end}}