{{define "index"}}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="cache-control" content="max-age=2592000000">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=6">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=6">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=6">
<link rel="manifest" href="/static/icons/site.webmanifest?v=6">
<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=6" color="#5bbad5">
<link rel="shortcut icon" href="/static/icons/favicon.ico?v=6">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=6">
<meta name="theme-color" content="#ffffff">

<meta property="og:title" content="Chiru Asistente" />
<meta property="og:description" content="Accede al panel de control administrativo y revisa información útil acerca del bot Chiru Asistente" />
<meta property="theme-color" content="#FF498D"/>
<meta property="og:image" content="https://i.imgur.com/7KzsMEN.png"/>
  <!-- For Social Media -->
  <meta property="description" content="Sitio web con acceso a información y al panel de control del bot Chiru Asistente" />
  <!-- For search engines -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/landing-page-min.css">
  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Poppins:500,700" rel="stylesheet">
  <title>Chiru Asistente</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
    <a class="navbar-brand" href="#">
      <img src="/static/img/logo_y_small.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse poppins" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a id="link_to_about" class="nav-link js-anchor-link" href="#about">Acerca de</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link js-anchor-link" href="#features">Características</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/status">Estado</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://discordapp.com/oauth2/authorize?client_id={{.ClientID}}&scope=applications.commands%20bot&permissions=2146827767&response_type=code&redirect_uri={{urlquery (joinStr ""  "https://" .Host "/manage")}}">Agregar bot</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/premium">Premium</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" target="_blank" href="https://discord.gg/ZC8shhpSkf">Soporte</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-2">
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/manage">Panel de Control</a>
      </form>
      {{if .User}}
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Cerrar sesión</a>
      </form>
      {{end}}
    </div>
  </nav>
  <!-- Intro -->
  <div id="tscene" class="intro centered">
    <header class="centered">
      <div id="introo">
        <div class="container centered">
          <div class="row justify-content-md-center">
            <div class="col col-md-10">
              <h1 class="brand-heading bold intro_head">
                <br/>Chiru Asistente</h1>
              <p class="intro_headline">Bot oficial de la Comunidad CHIRUSXS</p>
            </div>
          </div>
          {{if ne .DemoServerID "0"}}<div class="row justify-content-md-center">
            <div class="col col-md-10">
              <p class="intro-text poppins"><a href="/manage/{{.DemoServerID}}/home">Clic aquí para ver una demo del panel de control</a></p>
            </div>
          </div>{{end}}
          <div class="row justify-content-md-center">
            <div class="col col-md-5">
              <div class="numberbutton">
                <img src="/static/img/button.png" alt="" class="btn_img">
                <p class="intro-text poppins bold numbercentered">Servidores en total
                  <br> {{.JoinedServers}}</p>
              </div>
            </div>
            <div class="col col-md-5">
              <div class="numberbutton">
                <img src="/static/img/button.png" alt="" class="btn_img">
                <p class="intro-text poppins bold numbercentered">Comandos de hoy
                  <br> {{.Commands}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Parallax Moving Background -->
    <div id="m_background" data-depth="0.2"></div>
  </div>
  <!-- About -->
  <div class="about">
    <section class="container content-section text-center">
      <a id="about"></a>
      <img class="img-responsive about aboutlogo" src="/static/img/logo_y.png" alt="logo of yagpdb">
      <div class="row justify-content-md-center">
        <div class="col col-lg-8 abouttext" style="padding-bottom: 3%;">
          <h2 class="about poppins semibold">Acerca de Chiru Asistente</h2>
          <p class="about">Chiru Asistente es una instancia del bot YAGPDB de la comunidad CHIRUSXS, utilizada principalmente como
            herramienta de moderación. Por el momento el bot no está disponible para el público y solo es posible
            agregarlo con autorización de la cúpula administrativa.
          </p>
          <!-- <p class="about">
            <b>Who am I?</b> I go by the name Jonas747 online and (unsurprisingly) my real name is also Jonas, although not 747,
            I'm not a plane. YAGPDB is a project that I have been developing in my spare time for roughly 3 years now, it
            started out because MEE6 (which I was currently using for my server) was lacking a lot of stuff that I wanted,
            so I decided to make my own bot, and here I am.</p> -->
        </div>
      </div>
    </section>
  </div>
  <!-- Features -->
  <div class="blank">
    <a id="features"></a>
    <section id="features_desktop" class="o_container content-section features">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <h2 class="feature_title semibold">
            <b>Características</b>
          </h2>
        </div>
      </div>
      <div id="reddit_feed" class="feature_element_l">
        <div class="text-left redbox first">
          <h3>Notificaciones</h3>
          <ul>
            <li>Feed de Reddit</li>
            <li>Feed de YouTube</li>
            <li>Mensajes de ingreso y salida personalizables</li>
            <li>Mensajes directos para nuevos miembros</li>
          </ul>
        </div>
        <img src="/static/img/reddit feed1.png" class="img-fluid f_image_r second" alt="Example of Reddit Feed from r/discordapp">
        <img src="/static/img/line1.png" class="img-fluid line_image line1" alt="line">
      </div>
      <div id="rolemenu" class="feature_element_r">
        <img src="/static/img/rolemenu1.png" class="img-fluid f_image_l second" alt="Role Menu with reactions">
        <div class="redbox text_right first">
          <h3>Roles autoasignables</h3>
          <p>Puedes configurar roles autoasignables con comandos o menús:</p>
          <ul>
            <li>Agrupar roles en un menú</li>
            <li>Asignar roles mediante reacciones o mensajes</li>
            <li>Diferentes modos (por ej. uno o más roles a la vez)</li>
            <li>Opciones y condiciones avanzadas para recibir roles</li>
          </ul>
        </div>
        <img src="/static/img/line4.png" class="img-fluid line_image line2" alt="line">
      </div>
      <div id="automod" class="feature_element_l">
        <div class="text-left redbox first">
          <h3>Moderación automática</h3>
          <p>Puedes crear reglas y establecer sanciones automáticas específicas, como silenciar, expulsar
            o incluso banear después de cierta cantidad de violaciones en un determinado periodo de tiempo.</p>
          <p>
            <b>
              <a href="https://docs.yagpdb.xyz/tools-and-utilities/automoderator-v2" target="_blank" rel="noopener" class="link">¡Clic aquí para ver una lista de reglas, condiciones y efectos!</a>
            </b>
          </p>
        </div>
        <img src="/static/img/automod1.png" class="img-fluid f_image_r second" alt="Auto Moderator in action">
        <img src="/static/img/line1.png" class="img-fluid line_image line3" alt="line">
      </div>
      <div id="customcommands" class="feature_element_r">
        <img src="/static/img/custom commands1.png" class="img-fluid f_image_l second" alt="Custom Command example with invite">
        <div class="redbox text_right first">
          <h3>Comandos personalizados</h3>
          <ul>
            <li>Triggers: Comienza con, Contiene, Coincidencia o Expresión regular</li>
            <li>Respuesta dinámica</li>
            <li>Útil para responder preguntas frecuentes, crear alias u otras cosas</li>
          </ul>
          <p>
            <b>
              <a href="https://docs.yagpdb.xyz/other-1/custom-command-examples" target="_blank" rel="noopener" class="link">¡Clic para ver ejemplos de comandos!</a>
            </b>
          </p>
        </div>
        <img src="/static/img/line4.png" class="img-fluid line_image line4" alt="line">
      </div>
      <div id="serverstats" class="feature_element_l">
        <div class="text-left redbox first">
          <h3>Estadísticas</h3>
          <ul>
            <li>Estadísticas: Miembros, mensajes en un periodo de tiempo, miembros en línea</li>
            <li>Mostrar públicamente las estadísticas (opcional)</li>
            <li>Gráficos con resumen de mensajes en el panel de control</li>
          </ul>
        </div>
        <img src="/static/img/stats1.png" class="img-fluid f_image_r second" alt="Example of the status command">
        <img src="/static/img/line5.png" class="img-fluid line_image line5" alt="line">
      </div>
      <div id="general_moderation" class="feature_element_r">
        <img src="/static/img/moderation1.png" class="img-fluid f_image_l second" alt="Example of Moderation with YAGPDB">
        <div class="redbox text_right first">
          <h3>Moderación general</h3>
          <ul>
            <li>Silenciar, expulsar y banear</li>
            <li>Parámetros de limpieza de mensajes avanzados</li>
            <li>Sanciones temporales y permanentes</li>
            <li>Registro de sanciones personalizable</li>
            <li>Informar al usuario sancionado con un mensaje personalizable</li>
            <li>Registros de mensajes</li>
            <li>Advertencias</li>
          </ul>
        </div>
      </div>
      <!-- <div class="row feature_item">
        <div class="col-lg-12">
          <h2 class="centered big_margin">And finally, the feature I'm most proud of:</h2>
        </div>
      </div>
      <div id="catfacts" class="feature_element_r">
        <img src="/static/img/cat fact1.png" class="img-fluid f_image_l second" alt="A random cat fact">
        <div class="redbox text_right first">
          <h3>Cat Facts</h3>
          <p>This feature made me spend days and nights sitting in a horrible chair in a basement staring at an old monitor
            fetching new facts. It includes
            <b>over 250</b> different cat facts!</p>
        </div>
      </div> -->
    </section>
    <!-- Questions and short FAQ -->
    <div class="questions">
      <section id="other" class="container content-section ">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 ">
            <h2>¿Preguntas? ¡Revisa estos enlaces!</h2>
            <ul>
              <li>La documentación original se puede encontrar en
                <a class="link" href="https://docs.yagpdb.xyz/">docs.yagpdb.xyz</a>
              </li>
              <li>Puedes ingresar a nuestro servidor de Discord y abrir un ticket haciendo
                <a class="link" href="https://discord.gg/ZC8shhpSkf">clic aquí</a>
              </li>
              <li>Envía un correo electrónico a
                <a class="link" href="mailto:soporte@chirusxs.net?subject=Duda%20-%20Chiru%20Asistente">soporte@chirusxs.net</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <section id="footer" class="container container-section blank_no_bg">
      <div class="row justify-content-md-center footer">
        <div class="col col-lg-12">
          <p>
            <b>Comunidad CHIRUSXS</b>, fundada en el año 2020 | Revisa nuestros enlaces en 
            <a class="link" href="https://www.chirusxs.net" rel="noopener" target="_blank">www.chirusxs.net</a>
          </p>
        </div>
      </div>
    </section>
    <!-- jQuery, Popper.Js, Bootstrap and Parallax -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="/static/vendorr/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <!-- Javascript for moving background (parallax) -->
    <script>
      var scene = document.getElementById('tscene');
      var parallaxInstance = new Parallax(tscene, {
        relativeInput: true,
        hoverOnly: true,
        pointerEvents: true
      });
    </script>
    {{template "googleAnalytics" .}}
</body>
</html>


{{end}} {{define "googleAnalytics"}}{{if and (not .Testing) .GAID}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{.GAID}}', 'auto');
  ga('send', 'pageview');
</script>{{end}}{{end}}
